* {
  margin: 0;
  padding: 0;
}
body {
  width: 100;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.clock {
    width: 100%;
    height: 100%;
  border: 1px solid #606060;
  box-sizing: border-box;
  box-shadow: 1px 1px 6px 1px rgb(24, 186, 214);
  color: white;
  padding: 40px;
  border-radius: 16px;
  background-color: #000000;
  transition: .2s;
  margin: 100%  auto;
  cursor: progress;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;


}
.clock:hover {
  background-color: #ffffff;
  color: #000000;
  transition: .3s;
}
.clock:active {
  background-color: #c248a3;
  color: #000000;
}
#date {
  text-transform: uppercase;
  font-size: 1.3rem !important;
  font-weight: bold;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.clock ul {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  list-style: none;
  display: flex;
  font-size: 4rem;
  font-weight: bold;
  gap: 15px;
}
